<div class="login-container row" ng-show="!hideLoggin">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1 class="login-title">Air Exit Monitor</h1>
      <div>
        <ng-form class="form-horizontal" name="loginForm">
          <div style="text-align: center;">
            <div id="sso-button"></div>
          </div>
          <div ng-if="loginError">Error in login. Email may not be valid.</div>
        </ng-form>
      </div>
    </div>
    <div class="col-md-4"></div>
</div>
