<div class="row header" ng-class="{'header-padding': $parent.toggle}">
  <div class="col-md-8">
    <h3 ng-if="!mobile">{{mainTitle}}</h3>
    <span ng-if="mobile">{{mainTitle}}</span>
  </div>
  <div class="col-xs-4" style="padding-right:20px;">
    <a class="pull-right" ng-if="user.admin" ng-click="goToNewChart()" style="cursor: pointer;"><span class="menu-icon fa fa-plus"></span>{{ mobile ? '':' Create chart'}}</a>
  </div>
</div>
<div class="row">
    <div class="col-lg-12 top-gap">
        <rd-loading status="loading"></rd-loading>
        <ng-form ng-if="!loading && viewMode != 'VIEW'" name="squadForm">
          <div class="form-group" ng-class="{ 'has-error' : squadForm.name.$invalid && squadForm.name.$dirty}">
            <label>Name</label>
            <input type="text" class="form-control" name="name" ng-model="squad.name" required ng-disabled="viewMode === 'VIEW'">
            <p class="help-block" ng-show="squadForm.name.$invalid && squadForm.name.$dirty">Name required</p>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : squadForm.description.$invalid && squadForm.description.$dirty}">
            <label>Description</label>
            <input type="text" class="form-control" name="description" ng-model="squad.description" required ng-disabled="viewMode === 'VIEW'">
            <p class="help-block" ng-show="squadForm.description.$invalid && squadForm.description.$dirty">Description required</p>
          </div>
          <br/>
          <div class="modal-footer" ng-if="viewMode !== 'VIEW'">
            <button type="submit" class="btn btn-primary" ng-click="accept()">Accept</button>
            <button type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
          </div>
        </ng-form>
        <div ng-if="!loading && viewMode == 'VIEW'">
          <small>{{squad.description}}</small>
          </br>
          </br>
          <div class="row">
            <div class="col-md-6 well" ng-repeat="chart in charts">
              <div>{{chart.name}} <a class="pull-right" ng-if="user.admin" ng-click="goToEditChart(chart)" style="cursor: pointer;"><span class="menu-icon fa fa-pencil"></span>{{ mobile ? '':' Edit chart'}}</a></div>
              <chart data="chart"></chart>
            </div>
            <div ng-if="!charts.length">No charts<a ng-if="user.admin" ng-click="goToNewChart()"> create one</a></div>
        </div>
    </div>
</div>
