<div class="row header" ng-class="{'header-padding': $parent.toggle}">
  <div class="col-xs-8">
    <h3 ng-if="!mobile">{{mainTitle}}</h3>
    <span ng-if="mobile">{{mainTitle}}</span>
  </div>
  <div class="col-xs-4" style="padding-right:20px;">
    <a class="pull-right" ng-if="user.admin" href="#/newuser"><span class="menu-icon fa fa-plus"></span>{{ mobile ? '' : ' Create user'}}</a>
  </div>
</div>
<div class="row">
    <div class="col-lg-12 top-gap">
      <rd-loading status="loading"></rd-loading>
      <div ng-if="!loading.value" class="table-responsive">
          <table class="table">
              <thead class="table-header">
                  <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">E-mail</th>
                    <th class="text-center">Admin</th>
                    <th class="text-center">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="user in users" ng-class="{'odd-row' : $odd}">
                      <td class="text-center"><span ng-click="view(user)" style="cursor: pointer;">{{user.name}}</span></td>
                      <td class="text-center">{{user.email}}</td>
                      <td class="text-center">
                          <span ng-if="user.admin" class="text-success"><i class="fa fa-check"></i></span>
                          <span ng-if="!user.admin" class="text-danger"><i class="fa fa-times"></i></span>
                      </td>
                      <td class="text-center" style="padding: 0px;">
                          <span ng-if="loggedUser._id !== user._id" class="btn" ng-click="edit(user)"><i class="fa fa-pencil"></i></span>
                          <span ng-if="loggedUser._id !== user._id" class="btn text-danger" data-toggle="modal" data-target="#confirmModal" ng-click="openConfirmModal(user)"><i class="fa fa-trash"></i></span>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="confirmModal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Are you sure</h4>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="remove(selectedUser)">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
</div>
