<div class="row topheader">
    <img src="img/plane-logo.png" class="float-left" style="position: absolute;height: 70px;padding: 10px;">
    <h1 class="text-center">Check-In</h1>
    <a class="header-link" style="right: 0px;top: 40px;position: absolute;" href="#/monitor"> Go to monitor</a>
</div>
<div style="width: 100%;padding-left: 20px; padding-right: 20px;">
    <div class="row" style="left: 25%; width: 50%;position: relative;">
        <div class="col-xs-12" style="z-index: 5px;padding-right: 50px;padding-left: 0px;">
              <entity-selector selected="selectedTraveller" entities="travellers"></entity-selector>
        </div>

        <div ng-if="failCheckIn" style="margin: auto;">
          <span>We're sorry, but we were unable to verify your identity. Please retake your photo or reach out to a nearby agent for assistance</span>
        </div>
        <div style="position: absolute;right: 0px;">
            <user-info-button user="travellersById[selectedTraveller.id]"></user-info-button>
        </div>
    </div>
    <camera-panel picture="picture" on-submit="onSubmit" data-toggle="modal" data-target="#proceedModal" user="selectedTraveller" on-next="onNext" next-label="Next" submitted="submitted"></camera-panel>
</div>
<div style="position: absolute; right: 10px; top: 10px;color: #bfd7ec;">
    {{location}}
</div>
<!-- <button ng-if="showData" class="btn btn-primary text-center" data-toggle="modal" data-target="#blockchainModal" style="position: absolute; bottom: 20px; right: 20px;">Show blockchain data</button> -->
<!-- Modal -->


<!-- TODO, working, remove other spans for now and format -->
<div ng-if="showCheckin">
  <div class="modal-lg" style="width: 300px; height: 300px; position: absolute; left: 50%; top: 50%; margin-left: -150px; margin-top: -150px;">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thanks {{selectedTraveller.firstName}} {{selectedTraveller.lastName}} for checking in to {{selectedTraveller.reservation.partnerID || "our airline"}}!</h4>
      </div>
  </div>
  </div>
  <span>Thanks for checking in, please proceed to Security Checkpoint A</span>
</div>

<div class="modal fade" id="blockchainModal" role="dialog">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Blockchain data</h4>
        </div>
        <div class="modal-body">
            <blockchain-viewer blockchaindata="blockchaindata" loading="loading" dataready="dataready"></blockchain-viewer>
        </div>
    </div>
    </div>
</div>



<button class="btn btn-primary text-center" data-toggle="modal" ng-if="showCheckin" data-target="#proceedModal" style="position: absolute; bottom: 20px; right: 20px;">Status</button>


<!-- <div class="modal fade" id="proceedModal" ng-if="showCheckin" role="dialog"> -->
<div class="modal fade" id="proceedModal" ng-if="showCheckin" role="dialog">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Thanks {{selectedTraveller.firstName}} {{selectedTraveller.lastName}} for checking in to {{selectedTraveller.reservation.partnerID || "our airline"}}!</h4>
      </div>
      <div class="modal-body">
        <p>Please proceed to Security Checkpoint A</p>
        <!-- TODO, This should probably be generated? -->
      </div>
  </div>
  </div>
</div>



<button class="btn btn-primary text-center" data-toggle="modal" ng-if="failCheckIn" data-target="#deniedModal" style="position: absolute; bottom: 20px; right: 20px;">Status</button>

<!-- TODO, center this button -->
<!-- <button class="btn btn-primary text-center" ng-click="reloadPage()" style="position: absolute; bottom: 20px; right: 60px;">Retry</button> -->

<!-- <button class="btn btn-primary text-center" href="#/monitor" style="bottom: 20px; margin-right: auto; margin-left: auto;">Retry</button> -->

<div class="modal fade" id="deniedModal" ng-if="failCheckIn" role="dialog">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">We're sorry, but we were unable to verify your identity. Please retake your photo or reach out to a nearby agent for assistance</h4>
      </div>
      <div class="modal-body">
        <p>We're sorry, but we were unable to verify your identity. Please retake your photo or reach out to a nearby agent for assistance</p>
        <!-- TODO, This should probably be generated? -->
      </div>
  </div>
  </div>
</div>
