<div class="row topheader">
    <img src="img/plane-logo.png" class="float-left" style="position: absolute;height: 70px;padding: 10px;">
    <h1 class="text-center">Check-In</h1>
    <a class="header-link" style="right: 0px;top: 40px;position: absolute;" href="#/monitor"> Go to monitor</a>
</div>
<div class="transition-effect" ng-style="{width: containerWidth}" style="padding-left: 20px; padding-right: 20px;">
    <div class="row transition-effect" ng-style="{left: selectorLeft, width: selectorWidth}" style="position: relative;">
        <div class="col-xs-12" style="z-index: 5px;padding-right: 50px;padding-left: 0px;">
              <entity-selector selected="selectedTraveller" entities="travellers"></entity-selector>
        </div>
        <div style="position: absolute;right: 0px;">
            <user-info-button user="travellersById[selectedTraveller.id]"></user-info-button>
        </div>
    </div>
    <camera-panel picture="picture" on-submit="onSubmit" user="selectedTraveller" on-next="onNext" next-label="Next" submitted="submitted"></camera-panel>
</div>
<div ng-if="showData" ng-style="{opacity: blockchainDataOpacity}" class="text-center transition-effect" style="left: 50%;position: absolute;top: 90px;padding-bottom: 20px;padding-right: 20px; width: 50%;">
    <blockchain-viewer blockchaindata="blockchaindata" loading="loading" dataready="dataready"></blockchain-viewer>
</div>
<div style="position: absolute; right: 10px; top: 10px;">
    {{location}}
</div>
