<div class="row topheader">
    <img src="img/plane-logo.png" class="float-left" style="position: absolute;height: 70px;padding: 10px;">
    <h1 class="text-center">Gate check</h1>
    <a class="header-link" style="right: 0px;top: 40px;position: absolute;" href="#/monitor"> Go to monitor</a>
</div>
<div style="width:100%;padding-left: 20px; padding-right: 20px;">
    <div ng-if="dataready" class="row" style="left: 25%; width: 50%;position: relative;">
        <div class="col-xs-12" style="z-index: 5px;padding-right: 50px;padding-left: 0px;">
            <input disabled ng-model="travellerName" class="text-center form-control" type="text"/>
        </div>
        <div style="position: absolute;right: 0px;">
            <user-info-button user="selectedTraveller"></user-info-button>
        </div>
    </div>
    <div ng-if="!dataready" style="height: 64px;"></div>
    <camera-panel picture="picture" user="selectedTraveller" on-submit="onSubmit" on-next="onNext" next-label="Start over" submitted="submitted"></camera-panel>
</div>
<div style="position: absolute; right: 10px; top: 10px;color: #bfd7ec;">
    {{location}}
</div>
<button ng-if="showData" class="btn btn-primary text-center" data-toggle="modal" data-target="#blockchainModal" style="position: absolute; bottom: 20px; right: 20px;">Show blockchain data</button>
<!-- Modal -->
<div class="modal fade" id="blockchainModal" role="dialog">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Blockchain data</h4>
        </div>
        <div class="modal-body">
            <blockchain-viewer blockchaindata="blockchaindata" loading="loading" dataready="dataready"></blockchain-viewer>
        </div>
    </div>
    </div>
</div>