<div class="row topheader">
    <img src="img/plane-logo.png" class="float-left" style="position: absolute;height: 70px;padding: 10px;">
    <h1 class="text-center">Gate check</h1>
    <a class="header-link" style="right: 0px;top: 40px;position: absolute;" href="#/monitor"> Go to monitor</a>
</div>
<div class="col-xs-12">
    <div ng-if="dataready" class="row" style="left: 25%;position: relative;width: 50%;">
        <div class="col-xs-11">
            <input disabled ng-model="travellerName" class="text-center form-control" type="text"/>
        </div>
        <div class="col-xs-1">
            <user-info-button user="selectedTraveller"></user-info-button>
        </div>
    </div>
    <div ng-if="!dataready" style="height: 64px;"></div>
    <camera-panel picture="picture" user="selectedTraveller" on-submit="onSubmit" on-next="onNext" next-label="Start over"></camera-panel>
</div>
<!--
<div class="col-xs-6 text-center">
    <blockchain-viewer blockchaindata="blockchaindata" loading="loading" dataready="dataready"></blockchain-viewer>
</div>-->
<div style="position: absolute; right: 10px; top: 10px;">
    {{location}}
</div>
