<div class="row">
    <h1 class="text-center">Air Exit</h1>
</div>
</br>
<div class="row">
    <div class="col-md-4 text-center"><a class="btn btn-primary" href="#/checkin">Checkin</a></div>
    <div class="col-md-4 text-center"><a class="btn btn-primary" href="#/security">Security</a></div>
    <div class="col-md-4 text-center"><a class="btn btn-primary" href="#/gatecheck">Gate check</a></div>
</div>
<hr>
<div class="row">
    <div class="col-md-4 text-center"><a class="btn btn-primary" href="#/monitor">Monitor</a></div>
</div>

