<div class="row topheader" style="width: 100%; height: 70px;margin-bottom: 10px;">
    <img src="/img/cbp-logo.png" style="position: absolute;height: 70px;padding: 10px;">
    <h1 class="text-center" style="position: absolute;width: 100%;">Exit Record View<a class="header-link" href="/#/checkin"> Go to checkin</a></h1>
    <img src="/img/tsa-logo.png" style="height: 70px;padding: 10px;float: right;">
    <img src="/img/plane-logo.png" style="height: 70px;padding: 10px;float:right;">
</div>
<div class="row" style="padding: 0px;height: 40px;">
    <div class="col-xs-6" style="z-index: 5px;">
        <entity-selector selected="selectedSession" entities="sessions"></entity-selector>
    </div>
    <div class="push-right">
        <button class="btn btn-primary text-center" ng-disabled="!selectedSession" ng-click="deleteSession(selectedSession.id)"><i class="fa fa-trash"></i></button>
    </div>
</div>
<div class="row" style="font-size: 18px; margin-top: 3px;padding: 10px 10px;text-align: center; background-color: #1d4c75; color: white;width: 100%;cursor: default;">
    <div class="btn-group" data-toggle="buttons" style="width: 100%;">
        <span ng-click="selectedOption = 'checkin'" style="cursor: pointer;width:33%;position: absolute;left: 0%;">Check-in</span>
        <span ng-click="selectedOption = session.security ? 'security' : selectedOption" 
              ng-style="{color: session.security ? 'white' : 'darkgrey', cursor: session.security ? 'pointer' : 'default'}"
              style="width:33%;position: absolute;left: 33%;">Passenger Screening</span>
        <span ng-click="selectedOption = session.gatecheck ? 'gatecheck' : selectedOption"
              ng-style="{color: session.gatecheck ? 'white' : 'darkgrey', cursor: session.gatecheck ? 'pointer' : 'default'}"
              style="width:33%;position: absolute;left: 66%;"> Departure Gate</span>
    </div>
    <div class="btn-group" data-toggle="buttons" style="width: 100%;">
        <span ng-click="selectedOption = 'checkin'" style="cursor: pointer;width: 33%;position: absolute;left: 0%;">
            <span class="fa" ng-class="{'fa-circle-thin': selectedOption != 'checkin', 'fa-circle': selectedOption == 'checkin'}"></span>
        </span>
        <div ng-if="session.security" style="border-top: 3px solid white; width: calc(33% - 14px);left: calc(16.5% + 7px);position: absolute;top: 11px;"></div>
        <span ng-click="selectedOption = session.security ? 'security' : selectedOption"
              ng-style="{color: session.security ? 'white' : 'darkgrey', cursor: session.security ? 'pointer' : 'default'}"
              style="width: 33%;position: absolute;left: 33%;">
            <span class="fa" ng-class="{'fa-circle-thin': selectedOption != 'security', 'fa-circle': selectedOption == 'security'}"></span>
        </span>
        <div ng-if="session.gatecheck" style="border-top: 3px solid white; width: calc(33% - 14px);left: calc(49.5% + 7px);position: absolute;top: 11px;"></div>
        <span ng-click="selectedOption = session.gatecheck ? 'gatecheck' : selectedOption"
              ng-style="{color: session.gatecheck ? 'white' : 'darkgrey', cursor: session.gatecheck ? 'pointer' : 'default'}"
              style="width: 33%;position: absolute;left: 66%;">
            <span class="fa" ng-class="{'fa-circle-thin': selectedOption != 'gatecheck', 'fa-circle': selectedOption == 'gatecheck'}"></span>
        </span>
    </div>
</div>
<div ng-if="session && session[selectedOption]" class="col-xs-12" style="margin: 10px 0 0 0;">
    <div class="col-xs-4" style="padding-right: 10px;padding-left: 0px;">
        <div ng-style="{height: dataHeight}" style="text-align: left; background-color: #83bff3;padding: 10px;overflow: auto;">
            <shared-data-viewer picture="session.pictures[selectedOption]" shareddata="session[selectedOption].shared"></shared-data-viewer>
        </div>
    </div>
    <div class="col-xs-8" ng-style="{height: dataHeight}" style="text-align: left; background-color: #83bff3;padding: 10px;">
        <div class="row">
            <div class="col-xs-2 text-center" style="font-size: 18px;">CBP</div>
            <div class="col-xs-5">
                <div class="row text-center blockchain-viewer-header" style="background-color: #1d4c75; color: white;padding: 5px;">Permissioned View</div>
                <ul class="list-group-small">
                    <li class="list-group-item"><small>Reservation Number:</small> {{session[selectedOption].cbp.reservationInfo.reservationNumber}}</li>
                    <li class="list-group-item"><small>Secure Flight Status:</small> {{session[selectedOption].tsa.tsaInfo.secureFlightStatus}}</li>
                </ul>
            </div>
            <div class="col-xs-5">
                <div class="row text-center blockchain-viewer-header" style="background-color: #1d4c75; color: white;padding: 5px;">Private View</div>
                <small>Visa info</small>
                <ul class="list-group-small">
                    <li class="list-group-item"><small>Date of expiration:</small> {{session[selectedOption].cbp.visaInfo.dateOfExpiration}}
                        <span style="float: right;"><small>Control number</small> {{session[selectedOption].cbp.visaInfo.controlNumber}}
                    </li>
                </ul>
                <small>CBP Info</small>
                <ul class="list-group-small">
                    <li class="list-group-item"><small>Global Entry Indicator:</small> {{session[selectedOption].cbp.cbpInfo.globalEntryIndicator}}
                        <span style="float: right;"><small>Known Traveler Number:</small> {{session[selectedOption].cbp.cbpInfo.ktn}}
                    </li>
                    <li class="list-group-item"><small>No Fly Indicator:</small> {{session[selectedOption].cbp.cbpInfo.noFlyIndicator}}
                        <span style="float: right;"><small>Threat Level:</small> {{session[selectedOption].cbp.cbpInfo.threatLevel}}
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-2 text-center" style="font-size: 18px;">Airline</div>
            <div class="col-xs-5">
                <div class="row text-center blockchain-viewer-header" style="background-color: #1d4c75; color: white;padding: 5px;">Permissioned View</div>
                <ul class="list-group-small">
                    <li class="list-group-item"><small>Indicator:</small> {{session[selectedOption].tsa.tsaPreCheck.indicator}}</li>
                </ul>
            </div>
            <div class="col-xs-5">
                <div class="row text-center blockchain-viewer-header" style="background-color: #1d4c75; color: white;padding: 5px;">Private View</div>
                <small>Reservation info</small>
                <ul class="list-group-small">
                    <li class="list-group-item"><small>Ticket Number:</small> {{session[selectedOption].airline.reservationInfo.ticketNumber}}
                        <span style="float: right;"><small>Reservation Number:</small> {{session[selectedOption].airline.reservationInfo.reservationNumber}}
                    </li>
                    <li class="list-group-item"><small>Group:</small> {{session[selectedOption].airline.reservationInfo.boardingGroup}}
                        <span style="float: right;"><small>Class:</small> {{session[selectedOption].airline.reservationInfo.class}}</span>
                    </li>
                    <li class="list-group-item"><small>Seat: </small>{{session[selectedOption].airline.reservationInfo.seatNumber}}
                        <span style="float: right;"><small>Special Needs:</small> {{session[selectedOption].airline.reservationInfo.specialNeeds}}</span>
                    </li>
                    <li class="list-group-item"><small>Frequent Flyer Number:</small> {{session[selectedOption].airline.reservationInfo.frequentFlyerNumber}}
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-2 text-center" style="font-size: 18px;">TSA</div>
            <div class="col-xs-5">
                <div class="row text-center blockchain-viewer-header" style="background-color: #1d4c75; color: white;padding: 5px;">Permissioned View</div>
                <ul class="list-group-small">
                    <li class="list-group-item"><small>Control Number:</small> {{session[selectedOption].tsa.visaInfo.controlNumber}}</li>
                    <li class="list-group-item"><small>No Fly Indicator:</small> {{session[selectedOption].tsa.cbpInfo.noFlyIndicator}}</li>
                </ul>
            </div>
            <div class="col-xs-5">
                <div class="row text-center blockchain-viewer-header" style="background-color: #1d4c75; color: white;padding: 5px;">Private View</div>
                <small>TSA info</small>
                <ul class="list-group-small">
                    <li class="list-group-item"><small>Enhanced Screening:</small> {{session[selectedOption].tsa.tsaInfo.enhancedScreening}}
                        <span style="float: right;"><small>Known Traveler Number:</small> {{session[selectedOption].tsa.tsaInfo.ktn}}
                    </li>
                    <li class="list-group-item"><small>Secure Flight Status:</small> {{session[selectedOption].tsa.tsaInfo.secureFlightStatus}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

