<div class="row topheader" style="width: 100%; height: 70px;">
    <img src="/img/cbp-logo.png" style="position: absolute;height: 70px;padding: 5px;">
    <h1 class="text-center" style="position: absolute;width: 100%;">Exit Record View</h1>
    <img src="/img/tsa-logo.png" style="height: 70px;padding: 5px;float: right;">
    <img src="/img/plane-logo.png" style="height: 70px;padding: 5px;float:right;">
</div>
<div class="col-xs-12">
    <div class="row" style="padding: 5px;">
        <div class="col-xs-11" style="z-index: 5px;">
              <entity-selector selected="selectedTraveller" entities="travellers"></entity-selector>
        </div>
        <div class="col-xs-1">
            <user-info-button user="travellersById[selectedTraveller.id]"></user-info-button>
        </div>
    </div>
</div>
<div class="col-xs-12 text-center">
    <div class="col-xs-4 text-center">
        Check-in
    </div>
    <div class="col-xs-4 text-center">
        Passenger Screening
    </div>
    <div class="col-xs-4 text-center">
        Departure Gate
    </div>
</div>

