<div ng-if="dataready" ng-style="{height: dataHeight}" style="text-align: left; background-color: #83bff3;padding: 10px;overflow: auto;">
    <shared-data-viewer picture="picture" shareddata="blockchaindata.shared"></shared-data-viewer>
    <br>
    <div class="row text-center blockchain-viewer-header" style="background-color: #1d4c75; color: white;padding: 5px;">Permissioned View</div>
    <div ng-show="selectedOption == 'cbp'">
      <small>Reservation info</small>
      <ul class="list-group-small">
          <li class="list-group-item"><small>Reservation Number:</small> {{blockchaindata.cbp.reservationInfo.reservationNumber}}</li>
      </ul>
      <small>TSA info</small>
      <ul class="list-group-small">
          <li class="list-group-item"><small>Secure Flight Status:</small> {{blockchaindata.tsa.tsaInfo.secureFlightStatus}}</li>
      </ul>
    </div>
    <div ng-show="selectedOption == 'airline'">
      <small>TSA PreCheck</small>
      <ul class="list-group-small">
        <li class="list-group-item"><small>Indicator:</small> {{blockchaindata.tsa.tsaPreCheck.indicator}}</li>
      </ul>
    </div>
    <div ng-show="selectedOption == 'tsa'">
      <small>Visa info</small>
      <ul class="list-group-small">
          <li class="list-group-item"><small>Control Number:</small> {{blockchaindata.tsa.visaInfo.controlNumber}}</li>
      </ul>
      <small>CBP info</small>
      <ul class="list-group-small">
          <li class="list-group-item"><small>No Fly Indicator:</small> {{blockchaindata.tsa.cbpInfo.noFlyIndicator}}</li>
      </ul>
    </div>
    <br>
    <div class="row text-center blockchain-viewer-header" style="background-color: #1d4c75; color: white;padding: 5px;">Private View</div>
    <!--json-formatter ng-show="selectedOption == 'cbp'" open="1" json="blockchaindata.cbp"></json-formatter>-->
    <div ng-show="selectedOption == 'cbp'">
      <small>Visa info</small>
      <ul class="list-group-small">
          <li class="list-group-item"><small>Date of expiration:</small> {{blockchaindata.cbp.visaInfo.dateOfExpiration}}
              <span style="float: right;"><small>Control number</small> {{blockchaindata.cbp.visaInfo.controlNumber}}
          </li>
      </ul>
      <small>CBP Info</small>
      <ul class="list-group-small">
          <li class="list-group-item"><small>Global Entry Indicator:</small> {{blockchaindata.cbp.cbpInfo.globalEntryIndicator}}
              <span style="float: right;"><small>Known Traveler Number:</small> {{blockchaindata.cbp.cbpInfo.ktn}}
          </li>
          <li class="list-group-item"><small>No Fly Indicator:</small> {{blockchaindata.cbp.cbpInfo.noFlyIndicator}}
              <span style="float: right;"><small>Threat Level:</small> {{blockchaindata.cbp.cbpInfo.threatLevel}}
          </li>
      </ul>
    </div>
    <div ng-show="selectedOption == 'airline'">
      <small>Reservation info</small>
      <ul class="list-group-small">
        <li class="list-group-item"><small>Ticket Number:</small> {{blockchaindata.airline.reservationInfo.ticketNumber}}
            <span style="float: right;"><small>Reservation Number:</small> {{blockchaindata.airline.reservationInfo.reservationNumber}}
        </li>
        <li class="list-group-item"><small>Group:</small> {{blockchaindata.airline.reservationInfo.boardingGroup}}
            <span style="float: right;"><small>Class:</small> {{blockchaindata.airline.reservationInfo.class}}</span>
        </li>
        <li class="list-group-item"><small>Seat: </small>{{blockchaindata.airline.reservationInfo.seatNumber}}
            <span style="float: right;"><small>Special Needs:</small> {{blockchaindata.airline.reservationInfo.specialNeeds}}</span>
        </li>
        <li class="list-group-item"><small>Frequent Flyer Number:</small> {{blockchaindata.airline.reservationInfo.frequentFlyerNumber}}
        </li>
      </ul>
    </div>
    <div ng-show="selectedOption == 'tsa'">
      <small>TSA info</small>
      <ul class="list-group-small">
          <li class="list-group-item"><small>Enhanced Screening:</small> {{blockchaindata.tsa.tsaInfo.enhancedScreening}}
            <span style="float: right;"><small>Known Traveler Number:</small> {{blockchaindata.tsa.tsaInfo.ktn}}
          </li>
          <li class="list-group-item"><small>Secure Flight Status:</small> {{blockchaindata.tsa.tsaInfo.secureFlightStatus}}</li>
      </ul>
    </div>
</div>
<div ng-if="!dataready" ng-style="{height: dataHeight}" style="text-align: left; background-color: #83bff3;padding: 10px;">
</div>
