.odd-row {
  background: #fafafa;
}

.table-header {
  background: #30426a;
  color: white;
}

.growl-container.growl-fixed {
    position: fixed;
    float: right;
    width: 90%;
    max-width: 400px;
    z-index: 9999;
}

.growl-container.growl-fixed.top-right {
    top: 65px;
    right: 15px;
}

body {
  transition: all 0.3s ease 0s;
  padding-right: 0 !important;
}

.blue-background {
  background: #30426a;
}

.small-gray {
  font-size: 12px;
  color: #888;
}

.login-container {
  left: -35px!important;
  position: relative;
}

.login-title {
  margin-top: 100px;
  text-align: center;
  color: white;
}

.login-subtitle {
  text-align: center;
  color: #738bc0;
}

#sidebar-wrapper {
  z-index: 10;
  background: #30426a;
}

.left-sidebar {
  padding: 0;
  list-style: none;
  text-indent: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.left-sidebar-main a {
    font-size: 16px;
    line-height: 30px;
}

.left-sidebar-main {
    height: 60px;
    background: #2d3e63;
    color: white;
}

.left-sidebar-title {
    color: #738bc0;
    font-size: 12px;
    height: 35px;
    line-height: 40px;
    text-transform: uppercase;
    transition: all .6s ease 0s;
}

.left-sidebar-list {
  transition: all .6s ease 0s;
}

.left-sidebar-list:hover {
  background: #2d3e63;
  cursor:pointer;
}

ul.left-sidebar .left-sidebar-list {
  height: 40px;
}
ul.left-sidebar .left-sidebar-list a {
  text-indent: 25px;
  font-size: 15px;
  color: #b2bfdc;
  line-height: 40px;
  text-decoration: initial;
  transition: all .6s ease 0s;
}

ul.left-sidebar .left-sidebar-list .menu-icon {
  float: right;
  padding-right: 29px;
  line-height: 40px;
  width: 70px;
}

.active-item {
  color: #f0ad4e!important;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #fff!important;
}

.dropdown-item {
  font-size: 12px!important;
  padding: 2px!important;
  color: #30426a!important;
}

.username:hover {
  cursor: pointer;
}

.row.header {
    height: 60px;
    background: #fff;
    margin-bottom: 15px;
    line-height: 60px;
    position: fixed;
    width: 100%;
    z-index: 9;
    padding-right: 68px;
    border-bottom: 2px solid;
    border-color: #30426a;
}

#loading-bar .bar {
  z-index: 20!important;
}

#loading-bar-spinner {
  z-index: 20px;
}

.modal {
  top: 80px;
}

.btn-primary {
    color: #b2bfdc;
    background-color: #30426a;
    border-color: #2d3e63;
}

.btn-primary.active, .btn-primary:active, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #30426a;
}

.top-gap {
  margin-top: 78px;
}

.header-padding {
  padding-right: 250px!important;
}

.main-view {
  transition:all ease-in-out 5.5s;
}
.main-view.ng-enter {
  opacity: 0;
}

.main-view.ng-enter-active {
  opacity: 1;
}

.control-label {
  margin-bottom: 10px;
  padding-top: 10px;
}

.control-field {
  margin-bottom: 10px;
}

.form-group {
  overflow: auto;
  height: auto;
}

.topheader {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: #1d4c75;
  color: white;
}