<div class="row text-center shared-viewer-header">Common View</div>

<ul ng-if="!picture" class="list-group-small">
    <li class="list-group-item"><small>Partner ID:</small> {{shareddata.partnerId}}
      <li class="list-group-item"><small>Event Type:</small> {{shareddata.eventType}}</li>

    </li>
    <li class="list-group-item"><small>Timestamp:</small> {{shareddata.timestamp}}
        <span style="float: right;"><small>UUID:</small> {{shareddata.uuid}}</span>
    </li>
    <li class="list-group-item"><small>Face image:</small> {{shareddata.faceImage}}
        <span style="float: right;"><small>Location:</small> {{shareddata.location}}</span>
    </li>
</ul>
<div ng-if="picture" class="row">
    <div class="col-xs-8" style="padding: 5px 0px; margin-bottom: 0;">
        <ul class="list-group-small">
            <li class="list-group-item"><small>Partner ID:</small> {{shareddata.partnerId}}</li>
            <li class="list-group-item"><small>Event Type:</small> {{shareddata.eventType}}</li>
            <li class="list-group-item"><small>Timestamp:</small> {{shareddata.timestamp}}</li>
            <li class="list-group-item"><small>UUID:</small> {{shareddata.uuid}}</li>
            <li class="list-group-item"><small>Face image:</small> {{shareddata.faceImage}}</li>
            <li class="list-group-item"><small>Location:</small> {{shareddata.location}}</li>
        </ul>
    </div>
    <div class="col-xs-4" style="overflow: hidden;margin-bottom: 0; padding: 5px 0px 0px 5px;">
        <!-- <p> Photograph: </p> -->
        <img img-expanded ng-src="{{picture}}"/>
    </div>
</div>
<small>Passport info</small>
<ul class="list-group-small">
    <li class="list-group-item"><small>Name:</small> {{userinfo.firstName}} {{userinfo.lastName}}
        <span style="float: right;"><small>Sex:</small> {{userinfo.sex}}</span>
    </li>
    <li class="list-group-item"><small>Passport Number:</small> {{userinfo.passportNumber}}
        <span style="float: right;"><small>Date of Expiration:</small> {{userinfo.dateOfExpiration}}</span>
    </li>
    <li class="list-group-item"><small>Nationality:</small> {{userinfo.nationality}}
    </li>
</ul>
<small>Reservation info</small>
<ul class="list-group-small">
    <li class="list-group-item"><small>Flight:</small> {{userinfo.reservation.partnerId}} {{shareddata.reservation.flightNumber}}
        <span style="float: right;"><small>From</small> {{userinfo.reservation.origin}}<small> to </small>{{userinfo.reservation.destination}}</span>
    </li>
    <li class="list-group-item"><small>Date of flight:</small> {{userinfo.reservation.dateOfFlight}}
    </li>
</ul>
