<div class="row text-center shared-viewer-header">Common View</div>

<ul ng-if="!picture" class="list-group-small">

    <li class="list-group-item"><small>Partner ID:</small> {{shareddata.reservation.Events[0].partnerId}}
        <span style="float: right;"><small>Event Type:</small> {{shareddata.reservation.Events[0].eventType}}</span>
    </li>
    <li class="list-group-item"><small>Timestamp:</small> {{shareddata.reservation.Events[0].timestamp}}
        <span style="float: right;"><small>UUID:</small> {{shareddata.reservation.Events[0].uuid}}</span>
    </li>
    <li class="list-group-item"><small>Face image:</small> {{shareddata.reservation.Events[0].faceImage}}
        <span style="float: right;"><small>Location:</small> {{shareddata.reservation.Events[0].location}}</span>
    </li>
</ul>
<div ng-if="picture" class="row">
    <div class="col-xs-8" style="padding: 5px 0px; margin-bottom: 0;">

        <ul class="list-group-small">
            <li class="list-group-item"><small>Partner ID:</small> {{shareddata.reservation.Events[0].partnerId}}</li>
            <li class="list-group-item"><small>Event Type:</small> {{shareddata.reservation.Events[0].eventType}}</li>
            <li class="list-group-item"><small>Timestamp:</small> {{shareddata.reservation.Events[0].timestamp}}</li>
            <li class="list-group-item"><small>UUID:</small> {{shareddata.reservation.Events[0].uuid}}</li>
            <li class="list-group-item"><small>Face image:</small> {{shareddata.reservation.Events[0].faceImage}}</li>
            <li class="list-group-item"><small>Location:</small> {{shareddata.reservation.Events[0].location}}</li>
        </ul>
    </div>
    <div class="col-xs-4" style="overflow: hidden;margin-bottom: 0; padding: 5px 0px 0px 5px;">
        <img img-expanded ng-src="{{picture}}"/>
    </div>
</div>
<small>Passport info</small>
<ul class="list-group-small">
    <li class="list-group-item"><small>Name:</small> {{shareddata.firstName}} {{shareddata.lastName}}
        <span style="float: right;"><small>Sex:</small> {{shareddata.passportInfo.sex}}</span>
    </li>
    <li class="list-group-item"><small>Passport Number:</small> {{shareddata.passportNumber}}
        <span style="float: right;"><small>Date of Expiration:</small> {{shareddata.dateOfExpiration}}</span>
    </li>
    <li class="list-group-item"><small>Nationality:</small> {{shareddata.nationality}}
    </li>
</ul>
<small>Reservation info</small>
<ul class="list-group-small">
    <li class="list-group-item"><small>Flight:</small> {{shareddata.reservation.partnerId}} {{shareddata.reservation.flightNumber}}
        <span style="float: right;"><small>From</small> {{shareddata.reservation.origin}}<small> to </small>{{shareddata.reservation.destination}}</span>
    </li>
    <li class="list-group-item"><small>Date of flight:</small> {{shareddata.reservationInfo.dateOfFlight}}
    </li>
</ul>
