<div ng-show="status=='RECORDING'" style="position:absolute; width: auto; overflow: hidden;" ng-style="{'height': videoHeight, 'left': videoLeft}">
    <div ng-style="{'height': videoHeight, width: videoWidth}" style="overflow: hidden;">
        <webcam class="text-center" on-streaming="onSuccess()" on-stream="onStream()" channel="channel"></webcam>
    </div>
    <div ng-show="videoReady">
        <div class="focusBoxTopLeft" ng-style="{width: focusBox.w/4, height: focusBox.h/4, top: focusBox.y, left: focusBox.x, position: 'absolute', 'box-shadow': '-2px -2px 1px rgba(0,0,0,0.5)'}"></div>
        <div class="focusBoxTopRight" ng-style="{width: focusBox.w/4, height: focusBox.h/4, top: focusBox.y, right: focusBox.x, position: 'absolute', 'box-shadow': '2px -2px 1px rgba(0,0,0,0.5)'}"></div>
        <div class="focusBoxBottomLeft" ng-style="{width: focusBox.w/4, height: focusBox.h/4, top: focusBox.y + focusBox.h - focusBox.h/4, left: focusBox.x, position: 'absolute', 'box-shadow': '-2px 2px 1px rgba(0,0,0,0.5)'}"></div>
        <div class="focusBoxBottomRight" ng-style="{width: focusBox.w/4, height: focusBox.h/4, top: focusBox.y + focusBox.h - focusBox.h/4, right: focusBox.x, position: 'absolute', 'box-shadow': '2px 2px 1px rgba(0,0,0,0.5)'}"></div>
    </div>
    <div style="position: absolute; width: 100%; font-size: 96px; text-align: center;color:white; top: 0px;text-shadow: 0 0 5px black;" ng-style="{height: videoHeight, 'line-height': videoHeight+'px'}" ng-show="makingSnapshot">{{seconds}}</div>
    <div style="position: absolute;top: 0px;left: 0px;width: 5px;height: 100%;    background-color: rgba(0, 0, 0, 0.26);z-index: 20;"></div>
    <div style="position: absolute;top: 0px;right: 0px;width: 5px;height: 100%;    background-color: rgba(0, 0, 0, 0.26);z-index: 20;"></div>
    <div style="position: absolute;top: 0;left: 5px;width: calc(100% - 10px);height: 5px;    background-color: rgba(0, 0, 0, 0.26);z-index: 20;"></div>
    <div style="position: absolute;bottom: 0px;left: 5px;width: calc(100% - 10px);height: 5px;    background-color: rgba(0, 0, 0, 0.26);z-index: 20;"></div>
</div>
<canvas ng-if="videoReady" ng-show="status=='RECORDING'" id="canvas" height="{{videoHeight}}" width="{{videoWidth}}" style="position: absolute; left: 25%; z-index: 1;box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, 0.26);"></canvas>
<div ng-show="status=='SHOWSNAP' || status=='SUBMITTED'">
    <div class="transition-effect" style="position:absolute; width: auto;" ng-style="{left: left}">
        <div ng-style="{width: focusBox.w, height: focusBox.h, top: focusBox.y, left: focusBox.x, position: 'relative'}" style="overflow: hidden;border: 2px solid rgb(29, 76, 117);border-radius: 3px;" >
            <canvas id="snapshot"></canvas>
        </div>
    </div>
</div>
<div class="col-xs-6" ng-show="status=='SHOWSNAP'" style="position: fixed;bottom: 0; background-color: #bfd7ec; padding: 20px; height: 74px;z-index: 1;left: 25%;">
    <div class="col-sm-6 text-center">
        <button class="btn btn-primary" style="width: 50%" ng-click="tryagain()">Try again</button>
    </div>
    <div class="col-sm-6 text-center">
        <button class="btn btn-primary" ng-disabled="!user" style="width: 50%" ng-click="submit()">Submit</button>
    </div>
</div>
<div class="transition-effect" ng-show="status=='SUBMITTED' && submitted" style="position: fixed;bottom: 0; background-color: #bfd7ec; padding: 20px; height: 74px;z-index: 1;width:50%;" ng-style="{left: left}">
    <div class="col-sm-12 text-center">
        <button class="btn btn-primary" style="width: 25%" ng-style="{opacity: submitted ? 1 : 0}" ng-click="next()">{{nextLabel || 'Next'}}</button>
    </div>
</div>
<div class="col-xs-12" ng-if="status=='RECORDING'" style="position: fixed;bottom: 0; left: 0; background-color: #bfd7ec; padding: 20px; height: 74px;z-index: 1;left: 0px;">
    <div class="col-sm-12 text-center">
        <button id="capture-button" class="btn btn-primary" ng-disabled="makingSnapshot" style="width: 25%" ng-click="makeSnapshot()">Capture</button>
    </div>
</div>